@model Presentation.Models.SelectGroupSubjectViewModel

<form method="get" action="/Attendance/Create" class="p-2 border rounded shadow-sm">
    <div class="d-flex flex-row justify-content-evenly align-items-center">
        <div class="form-group">
            <label for="group">Group</label>
            <select class="form-select mb-3" id="group" name="groupCode">
                @foreach (var group in Model.Groups)
                {
                    <option value="@group.Code">@group.Programme - @group.Code</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="subject">Subject</label>
            <select class="form-select mb-3" id="subject" name="subjectCode">
                @foreach (var subject in Model.Subjects)
                {
                    <option value="@subject.Code">@subject.Name</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="height:fit-content; margin-top:5px" name="attendanceButton" value="0">Take Attendance</button>
    </div>
    <div class="">
        <table>
            @foreach (var attendance in Model.PastAttendances)
            {
                <tr>
                    <td>@attendance.Date.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@attendance.SubjectName</td>
                    <td>@attendance.GroupCode</td>
                    <td>
                        <button type="submit" class="btn btn-primary" style="height:fit-content; margin-top:5px; margin-left:20px" name="attendanceButton" value="@attendance.Date|@attendance.SubjectCode|@attendance.GroupCode">Edit Attendance</button>
                    </td>
                </tr>
            }
        </table>
    </div>

</form>