@model IEnumerable<Domain.Models.Student>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<div class="row">
    @foreach (var student in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img height="200" class="card-img-top" src="@student.ImagePath" alt="@student.FirstName @student.LastName" />
                <div class="card-body">
                    <h5 class="card-title">@student.FirstName&nbsp;@student.LastName</h5>
                    <p class="card-text">
                        ID Card: @student.IdCard<br />
                        Group: @student.Group.Code<br />
                        Programme: @student.Group.Programme<br />
                    </p>
                    <a href="/students/Edit/@student.IdCard" class="btn btn-primary">Update Details</a>
                    &nbsp;
                    <a href="/students/Delete?id=@student.IdCard" class="btn btn-primary" onclick="return confirm('Are you sure?');">Delete Student</a>
                </div>
            </div>
        </div>
    }
</div>

